{% block aside %}
    {% if (is_granted('ROLE_ADMIN') or is_granted('ROLE_USER')) %}
        <ul>
            <li>
               {{ include('profile/_navigation.html.twig') }}
            </li>
        </ul>
    {% endif %}
{% endblock %}