{% extends 'layout/profile.html.twig' %}

{% block breadcrumbs %}
    {{ include('profile/_breadcrumbs.html.twig', {
        'path': 'profile_page',
        'section': 'Профиль',
        'entity': pageUser,
        'entityId': pageUser.id,
        'ditailedPage': pageUser.username,
        'currentPage': 'Выши отзывы'}) }}
{% endblock %}

{% block mainContent %}
    <div class="small-12 cell">
        <h2>Ваши отзывы ({{ pageUser.commentsAuthored|length }})</h2>
    </div>
    <div class="small-12 cell">
        {{ include('catalog/_comment-show.html.twig', {
            'profilePage' : 'true',
            'comments': pageUser.commentsAuthored,
            'nullMessage': 'Пока нет отзывов'}) }}
    </div>
{% endblock %}
