{% block search %}
    <div class="sidebar-search">
        <form action="{{ path('ajax_search') }}" method="GET">
            <div class="">
                <input type="text" id="search" class="search-box-small" name="q" placeholder="Поиск...">
                <button class="search-button" type="submit"><i class="fi-magnifying-glass fi-list-size"></i></button>
            </div>
        </form>
    </div>
{% endblock %}