{% extends'base.html.twig' %}

{% block main %}
    <div class="grid-container">
        <div class="grid-x grid-padding-x cell">
            <div class="small-12 cell">
                <h1> {{ status_code }} {{ status_text }}</h1>
                <p>Упс. Что-то пошло не так. Перейдите на <a href="{{ path('homepage') }}"> домашнюю страницу</a>.</p>
            </div>
        </div>
    </div>
{% endblock %}
