{% extends 'layout/page.html.twig' %}

 {% block breadcrumbs %}
     {{ include('profile/_breadcrumbs.html.twig', {
         'path': 'homepage',
         'section': '',
         'entityId': '',
         'entity': '',
         'ditailedPage': '',
         'currentPage': ''}) }}
 {% endblock %}

{% block content %}
    <div class="small-12 cell">
        <div class="grid-container">
            <div class="grid-x grid-padding-x">
                <div class="small-12 cell">
                    <h3 class="title">Последние книги</h3>
                </div>
            </div>
            <div class="grid-x grid-padding-x">
                {{ include('home/_show-books.html.twig', {'books': recentBooks}) }}
            </div>
        </div>
    </div>
    <div class="small-12 cell">
        <div class="grid-container">
            <div class="grid-x grid-padding-x">
                <div class="small-12 cell">
                    <h3 class="title">Популярные книги</h3>
                </div>
            </div>
            <div id="showBook" class="grid-x grid-padding-x">
                {% for ratings in popularBooks %}
                    <div class="small-offset-1 small-10 medium-offset-0 medium-4 large-3 cell">
                        {{ include('home/_book-card.html.twig', {'bookCopy': ratings.rate.bookCopy}) }}
                    </div>
                {% else %}
                    <p>Книги не найдены</p>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
