<form action="{{ path('addBook', {id: 1}) }}">
    <select name="authors" id="addAuthors">
        {% for author in authors %}
            <option value="{{ author.id }}">{{ author.name }}</option>
        {% endfor %}
    </select>
    <button type="submit">submit</button>
</form>