{% for type, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ type }} fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="fi-x"></i></span>
            </button>

            {{ message|trans }}
        </div>
    {% endfor %}
{% endfor %}
