{% if is_granted('IS_AUTHENTICATED_FULLY') %}
    {{ render(controller('App\\Controller\\CatalogController:commentForm', {'id': bookCopy.id})) }}
{% else %}
    <p><a class="button" href="{{ path('login') }}">Войти и написать отзыв</a>
    </p>
{% endif %}