<div class="grid-container">
    <div class="grid-x grid-padding-x grid-padding-y">
        <div class="small-12 cell">
            <label for="pageLimit">Товаров на странице:</label>
            <select id="pageLimit" class="form-control col-md-3">
                <option value="3">3</option>
                <option value="8">8</option>
                <option value="24">20</option>
            </select>

            <label for="genreChoise">Жанр: </label><select name="genreChoise" id="genreChoise">
                <option value="all">Все жанры</option>
                {% for genre in genres %}
                    <option value="{{ genre.id }}">{{ genre.name }}</option>
                {% endfor %}
            </select>

            <label for="authorChoise">Автор: </label><select name="authorChoise" id="authorChoise">
                <option value="all">Все авторы</option>
                {% for author in authorsOfBooks %}
                    <option value="{{ author.id }}">{{ author.name }}</option>
                {% endfor %}
            </select>

            <label for="sort">Сортировать: </label><select name="sort" id="sort">
                <option value="withoutSort" data-orderBy="">Без сортировки</option>
                <option value="publicationYear" data-orderBy="ASC">↑ По году публикации</option>
                <option value="publicationYear" data-orderBy="DESC">↓ По году публикации</option>
                <option value="bookName" data-orderBy="ASC">↑ По имени</option>
                <option value="bookName" data-orderBy="DESC">↓ По имени</option>
            </select>
            <input type="button" class="button" id="resetFilter" value="Сбросить">
        </div>
    </div>
</div>