{% extends 'layout/page.html.twig' %}


{% block body_id 'comment_form_error' %}

{% block main %}
    <div class="well">
        {{ include('catalog/_comment-add.html.twig') }}
    </div>
{% endblock %}
